table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 88%;
  }

  @media screen and (max-width:991px){
    td, th {
      width: 86%;
    }
  }

  @media screen and (max-width:768px){
    td, th {
      width: 78%;
    }
  }

  @media screen and (max-width:480px){
    td, th {
      width: 65%;
    }
    h4.card-title {
      font-size: 16px;
      font-weight: bold;
  }
    img {
    width: 75px;
    }
  }